.join-cta {
    height: 56px;	
    position: relative;
    z-index: 0;
    margin-top: 88px;
}

.join-cta .container-div a:hover .skew-box {
    background-color: #2FEDD3;
}

.join-cta .container-div a:active .skew-box {
    background-color: #05DEBA;
}

.join-cta .container-div .skew-box-text {
    float: left;
    color: #000000;
    font-family: ProximaNovaBold;
    font-size: 18px;
    font-weight: bold;
    line-height: 22px;
    text-align: center;
    width: 272px;
    padding-top: 18px;
    z-index: 0;
    padding-right: 0;
}

.join-cta .container-div .skew-box {
    width: 272px;
    background-color: #05DEBA;
    height: 56px;
    transform: skew(-15deg);
    position: absolute;
    left: 0;
    z-index: -1;
    transition: 0.3s;
}

.hero-bottom-content {
    margin-top: 160px;
    display: flex;
}

.hero-bottom-content.hero-bottom-content-2 {
    margin-top: 0;
}

.venue-container {
    display: flex;
}

.hero-bottom-content .section-left {
    margin-right: 209px;
}

.hero-bottom-content .section-left,
.hero-bottom-content .section-right {
    width: 50%;
    text-align: left;
}

.hero-bottom-content .section-right {
    width: 47%;
}

.hero-bottom-content .section-left .sub-section-left {
    color: #FFFFFF;	
    font-family: "Adlery Pro";	
    font-size: 48px;	
    line-height: 67px;
    width: 175.45px;
    max-width: 175.45px;
    margin-right: 21.29px;
}

.hero-bottom-content .section-left .sub-section-right {
    color: #FFFFFF;	
    font-family: ProximaNovaRegular;	
    font-size: 18px;	
    line-height: 22px;
    margin-top: 11.56px;
    padding-left: 24px;
    width: 62%;
    border-left: 1px solid #00FFFF;
    height: 44px;
}

.hero-bottom-content .section-left .copy {
    color: #FFFFFF;	
    font-family: ProximaNovaRegular;	
    font-size: 28px;	
    line-height: 28px;
    margin-bottom: 19.44px;
}

.hero-bottom-content .section-right .copy {
    color: #FFFFFF;	
    font-family: ProximaNovaRegular;	
    font-size: 18px;	
    line-height: 24px;
}

.hero-bottom-content .section-right .copy.copy-2 {
    line-height: 22px;
    margin-top: 11px;
}

.section-right .arc-div-inner {
    margin-bottom: 24px;
}

.section-right .arc-div-inner img {
    max-width: 213px;
}

.legal {
    color: #FFFFFF;	
}

@media screen and (max-width:1024px) {

    #nada-2020-lp {
        background-color: #050913;   
    }

    .car-bg-mobile .car-image {
        width: 100vw;
    }

    .join-cta .container-div .span-1,
    .NADA-2020,
    .container-div,
    .section-right .arc-div-inner {
        display: none;
    }

    .join-cta {
        height: 40px;
    }

    .social-connect div {
        color: #2D2D2D;
    }

    .nada-hero {
        padding-top: 103px;
    }

    .nada-hero .section {
        padding: 0 9.5px 0;
    }

    .NADA-2020-mobile {
        text-align: center;
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .NADA-2020-mobile .img-1 {
        width: 65%;
        margin-bottom: 18.82px;
        max-width: 320px;
    }

    .NADA-2020-mobile .img-2 {
        width: 97%;
        max-width: 475px;
    }

    .join-cta .container-div-mobile {
        text-align: center;
        position: relative;
        width: 203px;
        margin: 0 auto;
        margin-top: 48px;
        margin-bottom: 74.42px;
    }

    .join-cta .container-div-mobile .skew-box-mobile {
        width: 100%;
        background-color: #05DEBA;
        transform: skew(-15deg);
        text-align: center;
        padding: 0;
        display: block;
        height: 40px;
    }

    .join-cta .container-div-mobile .skew-box-text-mobile {
        color: #000000;
        font-family: ProximaNovaBold;
        font-size: 14px;	
        font-weight: bold;	
        line-height: 14px;
        margin: 0 auto;
        position: absolute;
        left: 0;
        right: 0;
        top: 13px;
        bottom: 0;
        z-index: 1;
    }

    .car-bg-mobile .arc-div {
        width: 85%;
        text-align: left;
        position: absolute;
        left: 0;
        right: 0;
        bottom: -25px;
        margin: 0 auto;
        padding: 0 9.5px;
    }

    .hero-bottom-content {
        margin-top: 80px;
        flex-direction: column-reverse;
    }

    .hero-bottom-content .section-left, .hero-bottom-content .section-right,
    .hero-bottom-content .section-left .sub-section-left,
    .hero-bottom-content .section-left .sub-section-right {
        width: 100%;
    }

    .hero-bottom-content .section-left .copy {
        font-size: 20px;
        line-height: 24px;
    }

    .hero-bottom-content .section-right .copy {
        font-size: 18px;
        line-height: 22px;
        margin-bottom: 20.54px;
    }

    .hero-bottom-content .section-right .copy.copy-2 {
        margin-top: 16px;
        margin-bottom: 88px;
        font-size: 14px;
        line-height: 18px;
    }

    .venue-container {
        flex-direction: column;
    }

    .hero-bottom-content .section-left .sub-section-left,
    .hero-bottom-content .section-left .sub-section-right {
        padding: 0;
    }

    .hero-bottom-content .section-left .sub-section-left {
        padding-bottom: 21.84px;
    }

    .hero-bottom-content .section-left .sub-section-right {
        border-left: 0;
        padding-top: 15px;
        border-top: 1px solid #00FFFF;
        font-size: 14px;
        line-height: 18px;
        margin: 0 0 88px;
    }

    .hero-bottom-content .section-left .sub-section-left img {
        width: 146px;
    }
}

@media screen and (min-width:1025px) {
    .NADA-2020-mobile,
    .container-div-mobile,
    .car-bg-mobile {
        display: none;
    }

    #nada-2020-lp {
        background: url(images/car-and-bg.jpg) right 60% no-repeat;
        background-size: 73vw;
        background-color: #050913;  
        background-attachment: fixed;
    }

    .nada-hero {
        padding: 0 16px;
    }

    .nada-banner {
        margin-top: 194px;
    }

    .nada-banner img {
        width: 45%;
    }
}

@media screen and (min-width:1025px) and (max-width:1340px) {

    .hero-bottom-content {
        flex-direction: column-reverse;
    }

    .hero-bottom-content .section-left, .hero-bottom-content .section-right {
        width: 100%;
    }

    .join-cta .container-div {
        margin-bottom: 100px;
    }

    .hero-bottom-content .section-right {
        margin-bottom: 40px;
    }

    .hero-bottom-content.hero-bottom-content-1 .section-right {
        margin-bottom: 0;
    }
}

@media screen and (min-width:1025px) and (max-width:1439px) {
    #nada-2020-lp {
        padding-bottom: 70px;
    }

    .hero-bottom-content .section-left .copy {
        font-size: 24px;
        line-height: 28px;
    }
}

@media screen and (min-width:1341px) {
    #nada-2020-lp {
        background: url(images/car-and-bg.jpg) right 50% no-repeat;
        padding-bottom: 0;
        height: 100vh;
        background-size: 66vw;
        background-color: #050913;  
    }
}

@media screen and (min-width:1341px) {
    #nada-2020-lp {
        background: url(images/car-and-bg.jpg) right 60% no-repeat;
        padding-bottom: 0;
        height: 100vh;
        background-size: 66vw;
        background-color: #050913;  
    }
}

@media screen and (min-height:900px) and (min-width:1440px) {
    .max-height {
        max-height: 100vh;
        display: flex;
        flex-direction: column;
    }

    header {
        height: 10vh;
    }

    .nada-hero {
        height: 90vh;
    }
}

@media screen and (min-height:900px) and (max-height:999px) and (min-width:1440px) {
    .nada-banner {
        margin-top: 130px;
    }

    .hero-bottom-content {
        margin-top: 120px;
    }
}
